# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE settings and cache files
.idea/
.vscode/
*.swp
*~

# Environment variables
.env*
!/.env.example

# Compiled binary
todo-backend